settings.php
.directory
*.kate-swp
*.swp
.buildpath
.project
.classpath
.settings
*~
target
bin
dist
/pre-ingest/data-harmonisation/fr-nmhn/nbproject/private/
/pre-ingest/data-harmonisation/fr-nmhn/nbproject/