/* 
    Document   : advanced-search
    Created on : May 5, 2011, 5:44:20 PM
    Author     : vmplanet
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.advanced-search-highlighting {
    background-color: yellow !important;
    font-weight: bold !important;
}


.advanced-search-results-list td {
    background-color: white;
}

.advanced-search-results-list table {
    height: 1px;
}



.advanced-search-results-table {
    height: 1px;
    width: 1px;
    border: none;
}

.advanced-search-results-table-cell {
    background-color: white;
    border: 1px solid white;
    padding: 0px;
}

.advanced-search-results-table-cell > div {
    background-color: white;
    border: 1px solid white;
    height: 250px;
    width: 200px;
}

.advanced-search-results-table-cell > div > div {
    background-color: #F5F5F5;
    border: 3px solid #DDDDDD;
    height: 220px;
    width: 170px;
    overflow: hidden;
    margin: 12px;
    padding:5px;
}

.advanced-search-results-table-cell > div > div:hover {
    background-color: #DDFFBB;
    border: 3px solid #333333;
}

.advanced-search-results-table-cell > div > div * {
    border: none;
    background: none;
    text-align: left;
    text-align: center;
}

.advanced-search-results-table-cell > div > div p {
    text-align: left;
    font-size: 9pt;
}

.advanced-search-table-result {
    width: 100%;
    text-align: center;
}

.advanced-search-table-result-picture-cell img {
    border: 2px solid #888888 !important;
    height: 100px;
    width: 70px;
}



.advanced-search-list-result-picture-cell {
  height: 1px;
  width: 1px;
}

.advanced-search-list-result-picture-cell img {
  border: 2px solid #888888;
}

a.normalText:link {
  color: black;
}

a.normalText:visited {
  color: black;
}

a.normalText:hover {
  color: black;
}

.facet h1 {
  margin-top: 10pt;
  margin-bottom: 2pt;
  font-size: 120%;
}

.facet .occurrence {
  margin-left: 4pt;
  font-size: 90%;
  list-style-type: none;
}

.facet .occurrence:first-line {
  font-size: 100%;
}

.search-result .title {
  visibility: hidden;
}

#edit-simple-search-field {
  font-size: small;
  width: 9em;
/*   position: absolute; */
  right: 0px;
  top:0px;
/*   float:right; */
}

#edit-simple-search-field .form-type-checkbox {
  margin: 0px;
}
#edit-simple-search-field .form-type-checkbox input {
  margin: 0px;
}
