<IfModule alias_module>
	Alias /static /mnt/nfs/dev/data/access/items
	<Directory /mnt/nfs/dev/data/access/items>
		Order allow,deny
		Allow from all
		Options Indexes
		Options FollowSymLinks
		
		<IfModule mod_rewrite.c> 
			RewriteEngine On
			RewriteBase /static
			RewriteRule ^(\w{8})(\w{8})(\w{8})/?(.*)$ $1/$2/$3/$1$2$3/$4
		</IfModule>
	</Directory>
</IfModule>