
/* PRE-INGEST INTERNAL CSS */

.folderlist
{
    background-color: #E4F8F7;
    font: 13px courier new; 
    font-weight: bold;
}


.schalter
{
    background-color: #DDEEFF
}


.eingabetitel
{

}


.eingabefeld
{

}


.tooltip 
{
    display:        none;
    background:     transparent url(../img/sky_arrow.png);
    font-size:      11px;
    height:         70px;
    width:          160px;
    padding:        30px 25px 25px 25px;
    color:          #000;
    line-height:    15px;
    text-align:     justify;
}


div 
{
    margin:     0px 0px 0px 0px;
    padding:    0px 0px 0px 0px;
    height:     auto;
    min-height: 0px;
}


.contenttable
{
    border:            3px solid #C1DBFF; 
    font:              11px verdana; 
    background-color:  white; 
    margin-top:        33px;
}


.cname { 
    margin-top: 10px; 
    padding-top: 2px; padding-bottom: 4px; text-shadow: #555 3px 2px 4px;
    border: 1px solid #bbb; text-align: center; width: 250px;
}


.contentlist
{
 width:        980px;
 margin-left:  2px; 
 border:       1px solid green;
 border-color: green; 
 background-color: white; 
 font:         11px courier new;
}

