

.folderlist
{
    background-color: #E4F8F7;
    font: 13px courier new; 
    font-weight: bold;
}

.schalter
{
    background-color: #DDEEFF
}

.eingabetitel
{
    
    
}


.eingabefeld
{
    
    
}