<IfModule alias_module>
	Alias /static ${fileSystem.derivatives.blobStore.path}
	<Directory ${fileSystem.derivatives.blobStore.path}>
		Order allow,deny
		Allow from all
		Options Indexes
		Options FollowSymLinks
		
		<IfModule mod_rewrite.c> 
			RewriteEngine On
			RewriteBase /static
			RewriteRule ^(\w{2})(\w{2})(\w{2})(\w{2})/?(.*)$ $1/$2/$3/$4/$1$2$3$4/$5
		</IfModule>
	</Directory>
</IfModule>