.one-sidebar.sidebar-second #main h1 {
  margin:0px 0px 25px 0px; padding-left:25px; min-height:60px; 
  color:#006626; font-size:200%; line-height:1.25;
  border-left:1px #8bc53f solid; 
}

/** BIBLIO TABS **/
/* Tabs */
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs { 
  position: relative; /* padding: .2em; zoom: 1;*/
  margin:0px; padding:0px 0px 6px 0px; width:718px;
  background:transparent url('../images/bg-biblio-tabs-off.png') no-repeat 0px 0px;  
  border:0px none;
}

.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs ul.ui-tabs-nav { 
  /*padding:20px 30px 5px;*/ 
  display:block; margin:0px; padding:0px;
  width:718px; height:42px;
  list-style: none; 
  font: bold 100%/1.417 'Trebuchet MS', Helvetica, sans-serif !important;
  font-size:100% !important; font-weight: bold; 
  border:0px none; overflow:hidden;   background:transparent none;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li {
  float:left; top:0px; margin:0px; padding:0px;line-height:1; border:0px none; height:42px;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li a {
  display:block; margin:0px; padding:10px 15px; 
  height:22px; color: #006626; 
  font: normal 125%/1.417 'Trebuchet MS', Helvetica, sans-serif !important; 
}                                              
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li a:hover {color:#006626 !important; text-decoration:underline;}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li.ui-state-active {
  padding:0px; top:0px; 
  background:transparent url('../images/bg-biblio-tabs-tab-right.png') no-repeat right bottom;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li.ui-state-active a {
  color:#006626;  text-decoration:none; cursor:default;
  background:transparent url('../images/bg-biblio-tabs-tab-left.png') no-repeat left bottom;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li.ui-state-active.first a {
  background:transparent url('../images/bg-biblio-tabs-tab0-left.png') no-repeat left bottom;
}

.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel { 
  display: block; clear:both;
  position:relative; margin:0px; padding:15px 17px 20px 19px; width:680px; min-height:400px;
  
  background: rgb(254,254,254); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;

  border:#ccc 1px solid; 
  border-top:0px none;/* border-bottom:0px none; */
  overflow:hidden; 
}

.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-nav li a:hover {color:#bf2121; }
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-hide { display: none !important; }

.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel .download-button {width:680px; overflow:hidden;}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel .download-button a {
  float:left; display:block; 
  padding:5px 35px; margin-bottom:15px; 
  color:#006626;

  background: rgb(231,243,215); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZjNkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmQ1NzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(231,243,215,1) 0%, rgba(171,213,116,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,243,215,1)), color-stop(100%,rgba(171,213,116,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(231,243,215,1) 0%,rgba(171,213,116,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(231,243,215,1) 0%,rgba(171,213,116,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(231,243,215,1) 0%,rgba(171,213,116,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(231,243,215,1) 0%,rgba(171,213,116,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f3d7', endColorstr='#abd574',GradientType=0 ); /* IE6-8 */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  border: #8bc53f 1px solid; 
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel .download-button a:hover {
  border-color:#006626; text-decoration:none;
}

/* SUMMARY */
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel ul {
  margin:0px; padding:0px; 
  list-style-type:none; width:680px;
  overflow:hidden;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel ul li {
  display:block; margin:0px; padding:0px;
   width:680px; line-height:2.0; color:#006626;
  overflow:hidden;
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel ul li label {
 float:left; display:block;
 padding-right:14px;  
 width:150px; text-align:right; 
 color:#8bc53f; font-weight:normal; 
}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .ui-tabs-panel ul li p {
  display:block; float:right; padding-left:12px; 
  width:500px;
  border-left:1px #8bc53f solid; 
}

/* ENDNOTE */
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .biblio-endnote.ui-tabs-panel p {color:#006626;}
.one-sidebar.sidebar-second #main  #tabs.biblio.ui-tabs .biblio-endnote.ui-tabs-panel p a {text-decoration:underline;}



/** BIBLIO SIDEBAR ------------------ **/
.one-sidebar.sidebar-second #sidebar-second h2 {
  padding:0px; padding-bottom:5px; margin:0px; 
  text-align:right; color:#8bc53f; font-size:150%; line-height:1.667;
}

.one-sidebar.sidebar-second #sidebar-second #search-step-back-link {
  float:right; margin-top:5px; margin-bottom:25px; 
  font-size:108.4%;
  z-index:10;
}
.one-sidebar.sidebar-second #sidebar-second #search-step-back-link a {
  padding:8px 34px 8px 5px; display:block;
  color: #006626; font-weight:bold; line-height:1.111; 
  background: transparent url('../images/icon-backlink.png') no-repeat right 50%;
}
.one-sidebar.sidebar-second #sidebar-second #search-step-back-link a:hover {text-decoration:underline;}


.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel {
  clear:both; padding:13px 10px 20px 10px; width:233px; 

  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  border:#ccc 1px solid;
  overflow:hidden; 
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .collection-id {margin-bottom:4px;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .collection-id p {padding:0px; margin:0px; color:#006626;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .collection-id p label {
  float:left; margin-right:10px; padding-right:10px;
  width:85px; 
  color:#8bc53f; text-align:right;
  border-right:1px #8bc53f solid;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .collection-id p a {color:#006626;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .collection-id p a:hover {text-decoration:underline;}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper {
  margin:10px 6px 0px 4px; padding:9px; width:203px; 

  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  
  border:#ccc 1px solid;
  overflow:hidden; 
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-radios {
  padding: 10px 7px; width:110px; float:left; overflow:hidden;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-radios label {
  float:left; width:85px; margin-bottom:5px; text-align:right; color:#006626;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-radios input {
  float: right;
  margin-top: 3px; margin-bottom:5px;
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons {
  width:70px; padding:0px 0px 0px 8px; overflow:hidden; float:right; border-left:1px #8bc53f solid;
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a {
  display:block; margin-bottom:6px; padding:3px;
  height:17px; width:57px;
  text-decoration:none; text-align:center; font-weight:bold;
 
  background: rgb(255,255,255); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  
  border:#ccc 1px solid;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a.last {margin:0px;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a.biblio-action-pdf {color:#ed1c24;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a.biblio-action-ocr {color:#000;}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a.biblio-action-jp2 {color:#0071bc;}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-action-block-wrapper .biblio-action-buttons a:hover {text-decoration:underline;}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .content-preview {margin-top:10px; text-align:center;}


.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-links-block {
  margin:10px 6px 0px 4px; padding:5px 3px; width:215px;

  background: rgb(232,243,217); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZjNkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNGQxNjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(232,243,217,1) 0%, rgba(164,209,104,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,243,217,1)), color-stop(100%,rgba(164,209,104,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(232,243,217,1) 0%,rgba(164,209,104,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(232,243,217,1) 0%,rgba(164,209,104,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(232,243,217,1) 0%,rgba(164,209,104,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(232,243,217,1) 0%,rgba(164,209,104,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f3d9', endColorstr='#a4d168',GradientType=0 ); /* IE6-8 */

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  border:#8bc53f 1px solid;
  overflow:hidden; 
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-years { 
  padding-bottom:3px; width: 215px; overflow:hidden;
  background:transparent url('../images/bg-sidebar-biblio-years-underline.png') no-repeat left bottom;
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-years a {
  display:block; float:left;
  margin:3px; padding: 7px 10px 3px;
  height: 26px; width: 43px;
  text-decoration: none; text-align: center; color: #006626; font-size: 150%;
/*  background: transparent url('../images/lbl-facet-range-result.png') no-repeat right top; */
  background-color:#fff;
  
  border:#8bc53f 1px solid;

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-years a:hover {/* background-position:left top; */ background-color:#8bc53f;}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-links-block .biblio-read-link {
  margin:0px 3px; padding:5px 0px 0px; width:209px; 
}

.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-links-block .biblio-read-link a {
  display:block; margin:0px; padding:5px 34px 5px 20px; 
  width: 155px; color:#006626; font-size:108.4%;
  background: transparent url('../images/icon-directlink-green.png') no-repeat 180px 50%;
}
.one-sidebar.sidebar-second #sidebar-second .biblio-context-panel .biblio-read-links-block .biblio-read-link a:hover {
  text-decoration:underline;
}