#content_expanded .search-result-list-main {float:right; margin: 20px 5px 20px 0px; width: 672px;} 
#content_expanded .search-summary-sidebar {float:left; margin: 20px 0px 20px 3px; width:294px;} 
/* ---------------------------------- */
.sidebar-panel {
  position:relative;
	padding: 0px 0px 25px 0px;
	width:298px;
	background: transparent url('../images/bg-sidebar-panel-bot.png') no-repeat left bottom;
	overflow: hidden;
}

.sidebar-panel h2 {
	padding: 0px 30px 7px 23px; margin:0px;
	width: 245px; height: 45px;
	color: #006626; font-size: 116.7%; font-weight:bold;
	background: transparent url('../images/bg-sidebar-panel-top.png') no-repeat left top;
	overflow: hidden;
}

.sidebar-panel h2 span {
  display: block; float: left;
  margin: 0px; padding: 20px 25px 0px 0px;
  height: 25px;
  background: transparent url('../images/bg-sidebar-panel-tab-right.png') no-repeat right top;
}

.sidebar-panel .content {
	margin: 0px; padding: 0 12px 0 10px;
	width: 276px;
	background: transparent url('../images/bg-sidebar-panel-bg.png') repeat-y right top;
	overflow: hidden;
}

.sidebar-panel .content .content-inner {
	padding: 5px 13px 0px 13px;
	width: 250px; min-height:50px; color: #000;
	overflow: hidden;
	border-bottom:1px solid #aad472; /*-IE8 fix*/

	background: rgb(222,239,201); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZWZjOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYWQ0NzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(222,239,201,1) 0%, rgba(170,212,114,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,201,1)), color-stop(100%,rgba(170,212,114,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(222,239,201,1) 0%,rgba(170,212,114,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(222,239,201,1) 0%,rgba(170,212,114,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(222,239,201,1) 0%,rgba(170,212,114,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(222,239,201,1) 0%,rgba(170,212,114,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefc9', endColorstr='#aad472',GradientType=0 ); /* IE6-8 */
}

.sidebar-panel label, 
.sidebar-panel li {color: #006626;}

.sidebar-panel.search-summary-sidebar #edit-search {
  position:absolute; top:10px; right:25px;   font-size:108.4%;
  z-index:10;
}
.sidebar-panel.search-summary-sidebar #edit-search a {
  padding:5px 34px 5px 5px; display:block;
  color: #006626; font-weight:bold; text-transform:uppercase;    font-size:91.7%;
  background: transparent url('../images/icon-editsearch.png') no-repeat right bottom;
}
.sidebar-panel.search-summary-sidebar #edit-search a.expand {background-position:right top;}
.sidebar-panel.search-summary-sidebar #edit-search a:hover {text-decoration:underline;}

.sidebar-panel.search-summary-sidebar .number_of_results {width:250px; overflow:hidden;}
.sidebar-panel.search-summary-sidebar .number_of_results h3 {float:left; display:inline-block; margin-right:5px; margin-top:3px;}


.sidebar-panel.search-summary-sidebar .number_of_results #save-query-link {display:none;}
/*
.sidebar-panel.search-summary-sidebar .number_of_results #save-query-link {float:right; font-size:108.4%; text-align:right; display:inline-block;}
.sidebar-panel.search-summary-sidebar .number_of_results #save-query-link a {
  padding:5px 34px 5px 5px; display:block;
  color: #006626; font-weight:bold; 
  background: transparent url('../images/icon-saveqlink.png') no-repeat right 50%;
}
.sidebar-panel.search-summary-sidebar .number_of_results #save-query-link a:hover {text-decoration:underline;}
*/

.sidebar-panel .search-summary #searched-querry {color: #006626;}
.sidebar-panel .search-summary ul#searched-querry {list-style-type:none;}
.sidebar-panel strong {margin:0px 5px; color: #000; }
.sidebar-panel .search-summary span.terms, 
.sidebar-panel .search-summary span.count {color: #000; font-weight:normal;} 

/** Rozbalovací bloky **/
.sidebar-panel .collapsing-grip {
  margin-bottom:5px; padding-right:15px;
  font-size:116.7%;
  background: transparent url('../images/icon-collapse-expand.png') no-repeat 235px 50%;  
  cursor:pointer;
}
.sidebar-panel .collapsing-grip.expanded {background-position: right 50%;}

.sidebar-panel .collapsing-content {display:none;}
.sidebar-panel .search-summary .collapsing-content {display:block;}

.sidebar-panel .collapsing-grip a:hover,
.sidebar-panel .collapsing-multiple-grip:hover {text-decoration:underline;}

.sidebar-panel.facet-list-sidebar #facet-list-grip-multiple {
  position:absolute; top:10px; right:25px;
  padding:8px 50px 5px 5px; display:block;
  color: #006626; font-weight:bold; font-size:91.7%; 
  background: transparent url('../images/icon-collapse-expand-all.png') no-repeat right 50%;  
  cursor:pointer;
  z-index:10;
}
.sidebar-panel.facet-list-sidebar .facet-list ul {
  list-style-type:none; margin:0 0 10px 10px;
}

.sidebar-panel h3 {font-size:116.7%; padding:0px; color:#006626;}
#sidebar .sidebar-panel.facet-list-sidebar h3 a,
#sidebar .sidebar-panel.facet-list-sidebar li a {color:#006626;}
.sidebar-panel h3 span.value  {color:#000; font-size:108.4%;}
.sidebar-panel li span.value {color:#000; font-weight:bold;}

.sidebar-panel .number_of_results,
.sidebar-panel .content-types,
.sidebar-panel .author-names,
.sidebar-panel .years,
.sidebar-panel .languages,
.sidebar-panel .content-providers
 {margin-bottom:7px; padding-bottom:8px; background: transparent url('../images/bg-sidebar-panel-underline.png') no-repeat 50% bottom;}

/*.sidebar-panel.facet-list-sidebar .facet-list ul.collapsable.closed li {display:none;}*/

