/*
 * Custom overrides for BookReader Demo.
 */

/* Hide print and embed functionality */
#BRtoolbar .embed,.print {
	display: none;
}

#BRcontainer {
	overflow: hidden;
}

div#BRnav {
	position: absolute;
}

a.logo {
	display: none;
}

.BRfloat fieldset {
	margin-top: 10px;
}

#BRreturn a {
	margin-left: 10px;
}

.BRicon {
	background-image: url(../images/BRicons_extended.png);
}

.BRicon.download {
	background-position: -1240px 0;
	text-align: right;
}

.BRicon.download:hover {
	background-position: -1280px 0;
}

.BRicon.add_page {
	background-position: -1320px 0;
}

.BRicon.add_page:hover {
	background-position: -1360px 0;
}

.BRicon.remove_page {
	background-position: -1400px 0;
}

.BRicon.remove_page:hover {
	background-position: -1440px 0;
}

.BRicon.ocr {
	background-position: -1480px 0;
}

.BRicon.ocr:hover {
	background-position: -1520px 0;
}

.BRicon.ubio {
	background-position: -1560px 0;
}

.BRicon.ubio:hover {
	background-position: -1600px 0;
}

.BRtoolbox {
	background-color: #e2dcc5;
	-webkit-box-shadow: 0 10px 6px -6px black;
	-moz-box-shadow: 0 10px 6px -6px black;
	box-shadow: 0 10px 6px -6px black;
}

div#BRnavpos {
	margin-right: 380px;
}

div#BRpagebox {
	float: right;
	margin-top: 8px;
}

#BRpagebox  input {
	width: 30px;
	text-align: center;
	margin-left: 5px;
}

.BRtnlist {
	width: 600px;
}

.BRtnlist li {
	display: inline;
}

.BRtnlist img {
	width: 80px;
	margin-bottom: 10px;
}

.BRtnlist button {
	margin: 5px 20px 0px -20px;
	vertical-align: top;
}

.delete_tumbnail {
	width: 15px;
	height: 15px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	border: none;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../images/icon_delete.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.delete_tumbnail:hover {
	background-position: -15px 0;
}

lable #whole_book {
	display: inline;
	font-weight: 700;
	font-size: 1.6em;
	margin: 10px 0;
}

.format_selection img {
	width: 70px;
	height: 70px;
	margin-right: 50px;
}

fieldset .thumbnailFieldset {
	max-height: 150px;
	overflow: auto;
}

#BRbox {
	position: fixed;
	left: -200px;
	top: 0px;
	z-index: 999;
	width: 200px;
	height: 100%;
}

#BRbox ol {
	max-height: 200px;
	overflow-x: auto;
	margin: 0;
	padding: 10px;
	list-style-type: none;
}

#BRpagination select {
	height: 100%;
	width: 100%;
	overflow: scroll;
}

#BRboxhead {
	position: absolute;
	right: -10px;
	background-color: #E2DCC5;
	background-position: center;
	background-repeat: no-repeat;
	width: 10px;
	opacity: .25;
	height: 100%;
	-webkit-box-shadow: 1px 1px 1px 1px gray;
	-moz-box-shadow: 1px 1px 1px 1px gray;
	box-shadow: 1px 1px 1px 1px gray;
	cursor: pointer;
}

#BRboxcontent {
	height: 100%;
	background-color: #E2DCC5;
}

#BRboxcontent legend {
	color: gray;
}

.BRexpand {
	background-image: url(../images/arrow_expand.png);
}

.BRcollapse {
	background-image: url(../images/arrow_collapse.png);
}

#BRpagination {
	padding: 10px;
}

#BRpagination select {
	text-align: center;
}


#BRscientificNames {
	padding: 10px;
}

#ubioLinkDiv {
	width: 100%;
	text-align: right;
	color: gray;
	padding-right: 10px;
}

.BRfloat iframe {
	width: 100%;
	height: 400px;
}