<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="log.path" value="${log.path}" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.path}/ingest.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/ingest.%d{MM-dd-yyyy}.log.zip
					</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>[%thread][%level][%file:%line] - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="HTML" class="ch.qos.logback.core.FileAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="ch.qos.logback.classic.html.HTMLLayout">
				<pattern>%relative%thread%mdc%level%logger%msg</pattern>
			</layout>
		</encoder>
		<file>${log.path}/ingest.html</file>
	</appender>

	<root level="debug">
		<appender-ref ref="FILE" />
		<appender-ref ref="HTML" />
	</root>

</configuration>